COMPOSE_PROJECT_NAME=sanchain_dev
EXTERNAL_IP=80.93.179.130
NUM_VALIDATORS=1
REWARD_RECIPIENT_ADDRESS=0x3747504D37F6e7cC7622abcbB943038FFCf1dF6D
DEPOSIT_DATA=deposit_data-1694336385.json
BECONCHAIN_PORT=13000
BECONCHAIN_MONITOR_PORT=0.0.0.0:9102
VALIDATOR_MONITOR_PORT=0.0.0.0:9103
SLASHER_MONITOR_PORT=0.0.0.0:9104
GETH_PORT=8545
GETH_P2P_PORT=30303